.container {
  width: 50%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  box-shadow: 0px 0px 15px 5px #999;
  padding-top: 75px;
}

.title {
  width: 70%;
  font-family: 'Bangers', cursive;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  margin-bottom: 50px;
  color: goldenrod;
}

.simpsons {
  width: 20%;
  padding-bottom: 40px;
}

.score {
  font-size: 150%;
  font-weight: inherit;
}